---
const title = "Experiencia"
---
<section class="w-[60%]">
    <h2 class="p-2 text-2xl font-medium">EXPERIENCIA</h2>
    <div class="text-sm text-gray-800 p-2">
        <p class="mb-10">
            <strong class="block">EPA</strong>
            Experiencia en servicio al cliente en el ambito de ventas y orientacion del producto que el
            el cliente desea comprar
        </p>
        <p class="mb-10">
            <strong class="block">TELEPERFORMANCE</strong>
            Experiencia en servicio al cliente en el ambito de ventas y orientacion del producto que el
            el cliente desea comprar
        </p>
        <p class="mb-10">
            <strong class="block">TELEPERFORMANCE</strong>
            Experiencia en servicio al cliente en el ambito de ventas y orientacion del producto que el
            el cliente desea comprar
        </p>
    </div>
</section>